<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickPictureViewerPlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuickPictureViewerPlus.Properties.Settings>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckboardBackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowCursorInFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupPaste" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FavoriteExternalApp" serializeAs="String">
                <value>C:\Windows\System32\mspaint.exe</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="SlideshowTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SlideshowCounter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="EscToExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MouseWheelScrollAction" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartupMaximize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupRestoreBounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupWindowSize" serializeAs="String">
                <value>700, 485</value>
            </setting>
            <setting name="StartupWindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="PipOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkippedVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowNavArrows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PluginsCache" serializeAs="String">
                <value />
            </setting>
        </QuickPictureViewerPlus.Properties.Settings>
    </userSettings>
</configuration>