:root {
	--module-color-dark: #11408D;
	--module-color-accent: #53D7FD;
	--module-color-light: #2F7CD4;
	
	--filter-shadow-white: drop-shadow(0 12px 24px rgba(255, 255, 255, 0.25));
	--filter-shadow-black: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
	--filter-shadow-extra-black: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.5));
	
    --animation-speed: 0.25s;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/inter-bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/inter-regular.ttf");
}

body {
    margin: 0;
    background: #f1f1f1;  
}

/* HEADER */

header {
    position: absolute;
    padding: 32px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

header a {
    text-decoration: none;
    color: #fff;
}

header .logo {
    transition: transform var(--animation-speed);
	padding: 6px 0;
}

header a:hover .logo {
    transform: translateY(-8px)
}

header .logo img {
    vertical-align: middle;
    width: 32px;
    filter: var(--filter-shadow-white);
    transition: filter var(--animation-speed);
}

header a:hover .logo img {
    filter: var(--filter-shadow-extra-black);
}

header .logo span {
    vertical-align: middle;
    padding: 0 4px 0 16px;
    font: bold 20px/30px "Inter";
}

header .logo .tagline {
    font-size: 14px;
    opacity: 0.5;
    font-weight: normal;
}

header .navbar .link {
    font: 16px/24px "Inter";
    border: 2px solid transparent;
    padding: 8px 16px;
    border-radius: 8px;
    transition: border-color var(--animation-speed), transform var(--animation-speed);
    vertical-align: middle;
    display: inline-block;
}

header .navbar a:hover .link {
    border-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-8px)
}

/* HERO */

.hero svg {
    vertical-align: top;
}

.hero {
    background-color: var(--module-color-light);
    background-image: linear-gradient(to right bottom, var(--module-color-light), var(--module-color-dark));
    padding: 128px 0 0 0;
    text-align: center;
}

.hero .icon {
    width: 128px;
    filter: var(--filter-shadow-white);
}

.hero h1 {
    font: bold 48px/72px "Inter"; 
    color: #fff;
    margin: 16px 32px;
}

.hero h3 {
    font: 20px/30px "Inter"; 
    color: #fff;
    margin: 20px 32px;
}

.hero .buttons {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    flex-wrap: wrap;
}

.hero a {
    margin: 8px;
}

.hero .button {
    padding: 12px 24px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    transition: transform var(--animation-speed), filter var(--animation-speed), border-color var(--animation-speed);
}

.hero .button.dark {
    filter: var(--filter-shadow-black);
    background: #333;
    border-color: rgba(0, 0, 0, 0.25);
}

.hero a:hover .button {
    transform: translateY(-8px);
	border-color: #fff;
}

.hero a:hover .button.dark {
    filter: var(--filter-shadow-extra-black);
	border-color: rgba(0, 0, 0, 0.25);
}

.hero .button span {
    font: 16px/24px "Inter";
    vertical-align: middle;
    margin: 0 6px;
}

.hero .button img {
    vertical-align: middle;
}

.hero a {
    text-decoration: none;
    color: #fff;
}

.hero span.version {
    opacity: 0.5;
    margin-left: 0;
}

.hero .size {
    opacity: 0.5;
    font: 14px/21px "Inter";
    margin: 12px;
}

/* MAIN */

main {
    text-align: center;
    padding: 0 32px;
	max-width: 1320px;
    margin: 0 auto;
}

main .screenshot {
    filter: var(--filter-shadow-extra-black);
    border-radius: 8px;
    margin-top: -21vw;
    background: #333;
    border: 2px solid rgba(0, 0, 0, 0.25);
    max-width: 100%;
}

main h2 {
    font: bold 28px/42px "Inter";
    margin: 96px 0 16px 0;
}

main .features {
    display: flex;
    justify-content: center;
    font: 16px/24px "Inter";
    flex-wrap: wrap;
	width: calc(100% + 32px);
	margin: 0 -16px;
}

main .features h4 {
    margin: 16px 0;
    color: var(--module-color-light);
    font: 20px/30px "Inter";
}

main .features img {
    width: 48px;
}

main .features .feature {
	margin: 16px;
    padding: 32px;
    filter: var(--filter-shadow-black);
    background: #fff;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    width: 192px;
	flex-grow: 1;
}

main .features .feature.--small span {
	vertical-align: middle;
	display: inline-block;
	margin-left: 8px;
}

main .features .feature.--small img {
	vertical-align: middle;
	display: inline-block;
}

main .whats-new {
    font: 16px/24px "Inter";
}

main .whats-new .release-title {
    font: bold 20px/30px "Inter";
    vertical-align: middle;
    text-decoration: none;
    color: #000;
}

main .whats-new .release-title:hover {
    text-decoration: underline;
}

main .whats-new .release-date {
    font: 16px/24px "Inter";
    vertical-align: middle;
}

main .content {
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    display: inline-block;
    padding: 32px;
    filter: var(--filter-shadow-black);
    background: #fff;
    max-width: 570px;
    width: 100%;
    font: 16px/24px "Inter";
    text-align: left;
    box-sizing: border-box;
    margin: 16px auto;
}

main .content .flex-table {
	min-width: 500px;
	display: flex;
	justify-content: space-between;
}

main .content .flex-table-row {
	padding: 8px 0;
	flex: 1;
}

main .content .flex-table-row.--header {
	font-weight: bold;
}

main .content .flex-table-col {
	display: flex;
	flex-direction: column;
}

main .content .flex-table-col span {
	vertical-align: middle;
	display: inline-block;
}

main .content .flex-table-col img {
	vertical-align: middle;
	margin-right: 10px;
	display: inline-block;
}

main .content a {
    color: var(--module-color-light);
    text-decoration: none;
}

main .content a:hover {
    text-decoration: underline;
}

main .hscroll {
    overflow-y: hidden;
    overflow-x: auto;
}

main .hscroll::-webkit-scrollbar-track {
    background: #BFBFBF;
    border-radius: 4px;
}
  
main .hscroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

main .donate {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .donate a {
    padding: 8px;
}

main .donate img,
main .donate span {
    vertical-align: middle;
    color: #000;
}

main .donate span {
    margin: 0 6px;
}

main .donate a:hover {
    text-decoration: none;
}

main .donate a:hover span {
    text-decoration: underline;
}

/* FOOTER */

footer {
    padding: 32px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 128px;
}

footer span,
footer a {
    opacity: 0.5;
    font: 14px/21px "Inter";
    color: #000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--module-color-dark);
}
  
::-webkit-scrollbar-thumb {
    background: var(--module-color-light);
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--module-color-accent);
}

/* MEDIA */

@media screen and (max-width: 640px) {
    header {
        justify-content: center;
    }

    header .navbar {
        display: none;
    }

    .hero .buttons {
        display: block;
        padding: 32px;
    }

    .hero .buttons a {
        display: block;
        margin: 8px 0;
    }
    
    .hero .buttons .button {
        margin: 8px 0;
    }

    main .donate a {
        width: 100%;
    }

	footer span {
		margin-bottom: 8px;
	}

    footer {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    header .tagline {
        display: none;
    }
}

/* SPECIAL EFFECTS */

.special-effects {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}